body {
    margin: 0;
    padding-bottom: 40vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.swipeout-container {
}

.swipeout-container:not(:last-child){
    border-bottom: 1px solid #e4e4e4;
}

.swipeout-content {
    padding: 12px;
    user-select: none;
}

.label {
    line-height: 2;
    padding: 0 12px;
    background-color: rgb(255, 255, 134);
}

.bg-red {
    color: white;
    background-color: rgb(228, 27, 27);
}

.bg-blue {
    color: white;
    background-color: rgb(112, 112, 212);
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: wheat;
}