.App {
  font-family: sans-serif;
  text-align: center;
}

.swipeout-container {
  overflow: hidden;
  position: relative;
}

.swipeout-content {
  height: 100px;
  background: green;
}

.swipeout-left-btns-container,
.swipeout-right-btns-container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swipeout-left-btns-container {
  left: 0;
  transform: translateX(-100%);
}

.swipeout-right-btns-container {
  right: 0;
  transform: translateX(100%);
}

.swipeout-action-btn {
  width: 48px;
  background-color: red;
}
